services:
        app:
          image: express-server
          build: .
          ports:
            - "3000:3000"
          depends_on:
            - mongo
            - redis
          environment:
            - MONGO_URL=mongodb://mongo:27017/todos
            - REDIS_URL=redis://redis:6379
        mongo:
          image: mongo
          ports:
            - "27017:27017"
          volumes:
            - mongo_data:/data/db
        redis:
          image: redis:latest
          ports:
            - "6379:6379"
          volumes:
            - redis_data:/data

volumes:
 mongo_data:
 redis_data:
